/* GLOBAL */
body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  outline:0;
  font-family: sans-serif;
  line-height: 1.6;
  font-family: sans-serif;
  color:#AAAAAA;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  text-align:center;
  font-size: 1.5em;
}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-top:10%;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
}
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1em;
  margin:4em 0 1em 0;

}
p, li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
}
.center {
  text-align: center;
}
#container {
  margin:5% 20%;
}
.flex-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.col {
  flex-basis: 45%;
}
.col p {
  text-align: justify;
}
/* Results section of project pages */
.flex-container img {
  margin: 1em;
  width:35%;
  vertical-align: top;
}
.button {
  display:flex;
  justify-content: center;
  margin:10% 0 15%;
}
button {
  border:none;
  color:white;
  background-color: #AAAAAA;
  padding:1em 4em;
  font-size: 1em;
}
button:hover {
  cursor: pointer;

}
.gray {
  color:#AAAAAA;
  text-align: center;
  margin-bottom:3em;
  line-height:0;
}

/* MOBILE GLOBAL */
@media (max-width:768px) {
  .col p {
    text-align: left;
  }
  #container {
    margin:7%;
  }
  .flex-container {
    flex-direction: column;
  }
  .flex-container img {
    width:100%;
  }
}

/* TOGGLE */
.toggle-container {
  display:inline;
  margin:0;
  padding:0;
}
html[data-theme='dark'] {
    background-color: #000000;
    color:#AAAAAA;
}
input[type=checkbox]{
  visibility:hidden;
}
label {
  cursor:pointer;
  background:#D3D3D3;
  text-indent: -9999px;
  border-radius:100px;
  width: 52px;
	height: 27px;
  float:right;
  position: relative;
}
label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 1s;
}
input:checked + label {
	background: #FF6646;
}
input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}
label:active:after {
	width: 45px;
}

/* HEADER */
header {
  display:flex;
  display:-webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom:10%;
}
header img {
  margin:0 37.5% 1%;
  width:25%;
}
header nav {
  box-sizing:border-box;
  text-align: center;
}
header nav ul {
  padding:0;
  margin:0;
}
header nav ul li {
  list-style-type: none;
  padding:0 1.2em;
  display:inline-block;
}
header nav ul li a {
  color:#AAAAAA;
  text-decoration: none;
  font-size: 1em;
}
header nav ul li a:hover {
  color:#FF6646;
}
.active {
  color: #FF6646;
}
.nav-responsive {
  width:100%;
  display:none;
}
.hamburgerMenu {
  cursor: pointer;
}

/* MOBILE NAVIGATION */
@media (max-width:768px) {
  header img {
    width:45%;
    margin-left:27.5%;
  }
  .nav-responsive {
    display:flex;
    justify-content: flex-end;
  }
  nav {
    display:none;
    width:100%;
    height:70px;
  }
  nav ul li {
    text-align:center;
    padding:.5em 0;
    font-size:1.2em;
  }
  .hamburgerMenu {
    margin-left:auto;
    margin-right:auto;
  }
  /* got rid of dark feature on mobile */
  .toggle-container {
    display:none;
  }
}

/* TABLET */
@media (max-width:992px) {

}
/* PROJECTS - HOME */
main h2 {
  text-transform: none;
  font-weight: 400;
}
.project-container {
  margin:15% 0;
}
.project {
  margin:5em 0;
}
.project img {
  width:100%;
}

/* ABOUT */
.fa-linkedin-in, .fa-github {
  color:#AAAAAA;

}
.fa-linkedin-in {
  padding-right: .5em;
}

/* Medium */
.main-img {
  width:40%;
  margin-left: 30%;
}
.colors {
  display:flex;
}
.branding-color-1 {
  width:100px;
  height:100px;
  background-color:#101010;
}
.branding-color-2 {
  width:100px;
  height:100px;
  background-color:#454545;
}
.branding-color-3 {
  width:100px;
  height:100px;
  background-color:#EA6D6E;
}
.branding-color-4 {
  width:100px;
  height:100px;
  background-color:#888888;
}
.branding-color-5 {
  width:100px;
  height:100px;
  background-color:#dadada;
}

/* FYR */
table {
  border-collapse: collapse;
}
table th {
  background-color:#AAAAAA;
  color:white;
}
table tr, td {
  border:1px solid #AAAAAA;
  padding:.5em 1em;
}
/* FOOTER */
footer p {
  color:#AAAAAA;
  text-align: center;
  margin:1.5em 0 3em;
}
