/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* GLOBAL */
* {
  margin:0;
  padding:0;
  outline:0;
  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight:400;
  -webkit-transition:1s;
  -o-transition:1s;
  transition: 1s;
}
::-moz-selection {
  background-color: #FDF6C7;
}
::selection {
  background-color: #FDF6C7;
}
h1 {
  margin-bottom:1rem;
}
h3 {
  margin:1.5rem 0 .2rem 0;
}
h4 {
  margin:.5rem 0 .5rem 0;
}
p {
  margin:.5rem 0;
}
a {
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}
img {
  border:none; /* ie compatability */
}
/* emojis */
.ec {
  font-size:1.4rem;
  padding-right:5px;
}
.center {
  text-align: center;
}
/* general page elements - 12% */
.wrapper {
  margin:0 12%;
}
/* project page elements - 25% */
.container {
  margin:10% 25% 0% 25%;
}

/* BUTTONS */
.btn-primary {
  border-radius:20px;
  cursor: pointer;
  border: none;
  padding: 6px 16px;
  margin:6px 6px 6px 0;
  background-color: #101010;
  color:white;
}
.btn-primary:hover {
}
.btn-secondary {
  border:1px solid black;
  color:black;
  border-radius:20px;
  cursor: pointer;
  padding: 6px 12px;
  margin:6px 6px 6px 0;
}
.btn-tertiary {
  text-decoration:underline;
}

/* QUOTES */
.quote-sm {
  margin:0 0 .75em 0;
  font-size:inherit;
  color:gray;
  font-style: italic;
}

/* TABLE */
table {
  border-collapse: collapse;
  width:100%;
}
table th {
  border-bottom:1px solid black;
  padding-top:1em;
  text-align:left;
  font-weight:normal;
}
table tr, td {
  padding:1em .75em;
  vertical-align:top;
}
table td:second-child {
  border-left:1px solid black;
}

/* FLEX */
.flex-container {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}
.col-7 {
  -ms-flex-preferred-size:55%;
      flex-basis:55%;
}
.col {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
.col-3 {
  -ms-flex-preferred-size:30%;
      flex-basis:30%;
}
.col-4 {
  -ms-flex-preferred-size:25%;
      flex-basis:25%;
}

/* HEADER */
header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  display:-webkit-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding:4% 12% 2% 12%;
}
/* Mobile Nav */
#sticky-nav {
  display:none;
}
header {
  margin:
}
.logo {
  font-size:1.7rem;
}
nav ul li {
  list-style-type: none;
  display:inline;
}
nav ul li a {
  margin-left:2em;
  color:#C6C6C6;
}
nav ul li a:hover {
  color:gray;
}
.active {
  color:black;
}

/* INDEX */
.highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff), to(#FDF6C7));
  background: -o-linear-gradient(top, #fff 40%, #FDF6C7 100%);
  background: linear-gradient(180deg, #fff 40%, #FDF6C7 100%);
}
/* filtering projects */
#btnFilterContainer {
  padding: 5% 12% 5% 12%;
}
.filterDiv {
  display:none;
}
.showFilter {
  display:block;
}
.btn-filter {
  border:0;
  outline:none;
  background-color:transparent;
  border-bottom:1px solid #C6C6C6;
  color:#C6C6C6;
  cursor: pointer;
  padding: 20px 20px 20px 25px;
  margin-left:-5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-size:1em;
}
.btn-filter:hover {
  color: gray;
  border-bottom:1px solid gray;
}
.activeFilter {
  color:black;
  border-bottom:1px solid black;
}
/* index projects */
ul.tags {
  margin:1rem 0;
}
ul.tags li {
  display:inline;
  list-style-type: none;
  background-color:#ddd;
  border-radius:4px;
  color:white;
  padding:5px 10px;
  margin-right:.5rem;
  font-size: .85em;
}
.project {
  margin-bottom:3em;
  border:3px solid transparent;
  -webkit-transition: 1.3s;
  -o-transition: 1.3s;
  transition: 1.3s;
  opacity:.9;
}
.project:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05); /* zoom on hover */
}
.project img {
  margin-bottom:.3rem;
}
.project h3 {
  font-size:1.3rem;
  margin:.5rem 0 .75em 0;
  font-weight:normal;
}

/* PROJECT PAGES */
.num {
  color:#efefef;
  font-weight: 700;
  font-size:2.2em;
}
#project h2 {
  text-align:center;
}
#project h2, #project h3, #project h4, #project h5 {
  font-weight:700;
}
.container ul li {
  list-style-type: none;
  font-size:.9em;
  margin:.7rem 0;
  line-height: 1.2;
  color:#353535;
}
.gif {
  width:70%;
  margin:3em 0 0 15%;
}
.tag {
  font-size:.75em;
  text-align:center;
}
.box {
  -ms-flex-preferred-size:30%;
      flex-basis:30%;
  font-size:.85em;
  padding:.5em 1em;
  margin:2em 0;
  border-top:2px solid #FDF6C7;
  -webkit-box-shadow: 18px 19px 41px -14px rgba(230,230,230,0.72);
  box-shadow: 18px 19px 41px -14px rgba(230,230,230,0.72);
}
figcaption {
  font-size:.85em;
  text-align:center;
  margin-bottom:3em;
}

/* ABOUT */
.headline {
  font-size:3.8rem;
  line-height: 1.3;
  position: relative;
}
#about .flex-container {
  margin-top:5em;
}
.portrait {
  margin:0 1em -2rem 0;
  text-align: right;
}
.portrait img {
  width:15%;
  -webkit-transform: rotate(12deg);
      -ms-transform: rotate(12deg);
          transform: rotate(12deg);
}
.skills {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin:1em 0 3em 0;
}
.circle {
  width:95px;
  height:95px;
  border-radius:50%;
  border:.5px solid black;
  position:relative;
}
.circle p {
  text-align:center;
  margin-top:38px;
  font-size:.8em;
  line-height: 1.3;
}
.circle .two-line {
  margin-top:30px;
}

/* PHOTO */
#photo {
  margin:auto;
}
#photo .flex-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
}
#photo .container {
  margin-top:3rem;
  margin-bottom:3rem;
}
#photo img {
  width:100%;
  margin:0 0 8em 0;
}
#photo figcaption {
  margin-bottom:5em;
}
#photo a {
  text-align: center;
}

/* Distinguish Detail */
/* google fonts for visual guide */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.tone {
  margin:1rem 0;
  text-align: justify;
}
.tone ul li {
  color:lightgray;
  display:inline;
}
.tone ul span {
  color:#353535;
}
.dd-styles {
  border-left:1px solid black;
  padding-left:.75em;
}
.dd-styles h1, .dd-styles h2, .dd-styles h3, .dd-styles h4, .dd-styles h5, .dd-styles h6 {
  font-family: 'Marcellus', serif;
  text-align:left;
  margin:0;
  color:#0B0A07;
}
.dd-styles p {
  font-family: 'Lato', sans-serif;
  color:#0B0A07;
  margin:0;
  font-size:.95em;
}

/* COVID VISUALIZATION */
#covid-dots td:nth-of-type(1), #covid-dots td:nth-of-type(2), #covid-dots td:nth-of-type(3)  {
  border-right:.5px solid #888888;
}
#covid-dots tr:nth-of-type(1), #covid-dots tr:nth-of-type(2), #covid-dots tr:nth-of-type(3), #covid-dots tr:nth-of-type(4), #covid-dots tr:nth-of-type(5), #covid-dots tr:nth-of-type(6)  {
  border-bottom:.5px solid #888888;
}
#covid-dots table p {
  text-align:center;
  margin:.2em 0;
  color:#888888;
  font-size:.9em;
}
#covid-dots .circle {
  margin:1em auto;
  border-radius:50%;
  background-color: #FF7E25;
  -webkit-box-shadow: 1px 1px 50px #FF7E25;
          box-shadow: 1px 1px 50px #FF7E25;
  -webkit-animation: ani 5s ease-in-out infinite;
          animation: ani 5s ease-in-out infinite;
  border:0;
}
@-webkit-keyframes ani {
  0%, 50%, 100% { -webkit-transform: scale(.2); transform: scale(.2); }
  50% { -webkit-transform: scale(.6); transform: scale(.6); }
}
@keyframes ani {
  0%, 50%, 100% { -webkit-transform: scale(.2); transform: scale(.2); }
  50% { -webkit-transform: scale(.6); transform: scale(.6); }
}

/* FOOTER */
footer.flex-container {
  margin:3rem 12% 0 12%;
  padding: 1.5rem 0;
  border-top:1px solid black;
}
footer h4 {
  margin:0;
}
footer a {
  text-decoration: underline;
}

/* LARGE */
@media only screen and (min-width:1400px) {
  body {
    font-size:1.2em;
  }
}

/* TABLET */
@media only screen and (max-width:992px) {
  .container {
    margin:10% 15%;
  }
}

/* MOBILE */
@media only screen and (max-width:768px) {
  /* Bottom Mobile Nav */
  #sticky-nav {
    position:fixed;
    bottom:0;
    z-index:1;
    width:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:distribute;
        justify-content:space-around;
    background-color:white;
    border-top:1px solid black;
  }
  #sticky-nav a {
    padding:.75em;
    width:100%;
    text-align:center;
    font-size:1em;
    color:#C6C6C6;
    color:black;
    border-right:1px solid black;
  }
  #sticky-nav a:nth-of-type(4) {
    border-right:0px;
  }
  #sticky-nav a.active {
    color:white;
    background-color:black;
  }
  /* Global */
  main {
    margin-bottom:30%;
  }
  .wrapper {
    margin:0 4%;
  }
  .container {
    margin:15% 4%;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
  }
  .flex-container img {
    width:100%;
  }
  .col {
    width:100%;
  }
  /* Header */
  header nav {
    display:none;
  }
  header {
    padding:4%;
  }
  /* Index */
  #btnFilterContainer {
    padding:15% 4% 6% 4%;
  }
  .btn-filter {
    padding-top:15px;
    padding-bottom:15px;
  }
  .project {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin:12% 0%;
  }
  .project:nth-of-type(1) {
    margin-top:0em;
  }
  /* About */
  .headline {
    font-size: 2.7rem;
  }
  .portrait {
    display:none;
  }
  /* Photo */
  #photo img {
    margin:0 0 3em 0;
  }
  /* Project Pages */
  .box {
    width:90%;
    margin:1em 0;
  }
  .gif {
    width:100%;
    margin:1em 0 0 0;
  }
  /* Footer */
  footer.flex-container {
    display:none;
  }
  /* Visualization */
  #covid-dots {
    padding-top:20%;
  }
  #covid-dots table p {
    font-size:.75em;
  }
  #covid-dots td {
    padding:0px;
  }
  @-webkit-keyframes ani {
    0%, 50%, 100% { -webkit-transform: scale(.05); transform: scale(.05); }
    50% { -webkit-transform: scale(.2); transform: scale(.2); }
  }
  @keyframes ani {
    0%, 50%, 100% { -webkit-transform: scale(.05); transform: scale(.05); }
    50% { -webkit-transform: scale(.2); transform: scale(.2); }
  }
}

/* SM MOBILE */
@media only screen and (max-width:480px) {
  /* About */
  .headline {
    font-size:2.2rem;
  }
}
