/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* GLOBAL */
body {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  outline:0;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color:#171717;
}
h1 {
  font-size:1.5em;
  font-weight: 400;
}
h2 {
  font-size:1.3em;
  line-height:2;
  letter-spacing: .05em;
  font-weight: 400;
}
h3 {
  font-weight: 400;
}
a {
  text-decoration: none;
  color:#171717;
}
.center {
  text-align: center;
}
.container {
  margin:5% 20%;
}


/* BUTTONS */
.button {
  display:flex;
  justify-content: center;
}
button {
  border:none;
  border-bottom:3px solid #FCE237;
  padding-bottom:1em;
  font-size:1em;
}
button:hover {
  cursor: pointer;
}

/* HEADER */
header {
  display:flex;
  display:-webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo {
  flex-basis:20%;
}
.logo img {
  width:35vw;
}
nav ul li {
  list-style-type: none;
  display:inline;
}
nav ul li a {
  border:0;
}
.middle {
  margin:0 1.4em;
}
nav ul li a:hover {
  border-bottom:2px solid #fce237;
}
.active {
  background-color: #FCE237;
}
/* Mobile Nav */
.mobileNav {
  display:none;
}

/* INDEX */
.summary {
  margin-bottom:10%;
  font-size:1em;
}
.highlight {
  border-bottom:2px solid #fce237;
}
/* PROJECTS -  */
.flex-container {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items:flex-start;
}
.col {
  flex-basis: 45%;
}
.project {
  margin:7% 0;
}
.flex-container .project img {
  width:100%;
}
/* Links */
.project-links {
  font-size:1.5em;
}
ul {
  padding:0;
}
ul li {
  list-style-type: none;
  margin:1em 0;
}
ul li a {
  border-bottom:2px solid #fce237;
}

/* PROJECT PAGES */
.dashed-list li {
  margin:0;
  padding:0;
}
.dashed-list li:before {
  display : inline;
  margin-right:.3em;
  font-size : 1.5em;
  color:#FCE237;
  content:"\2014";
}
/* ABOUT */
.email {
  color:inherit;
}
.fa-linkedin-in, .fa-github {
  color:#171717;
}
.fa-linkedin-in {
  padding-right: .5em;
}

/* RESUME */
.resume {
  width:75%;
  margin-left:12.5%;
}

/* MEDIUM */
.main-img {
  width:40%;
  margin-left: 30%;
}
.colors {
  display:flex;
}
.branding-color-1 {
  width:100px;
  height:100px;
  background-color:#101010;
}
.branding-color-2 {
  width:100px;
  height:100px;
  background-color:#454545;
}
.branding-color-3 {
  width:100px;
  height:100px;
  background-color:#EA6D6E;
}
.branding-color-4 {
  width:100px;
  height:100px;
  background-color:#888888;
}
.branding-color-5 {
  width:100px;
  height:100px;
  background-color:#dadada;
}

/* FYR */
.fyr-logo {
  width:100%;
  margin-bottom:10%;

}
table {
  border-collapse: collapse;
}
table th {
  background-color:#AAAAAA;
  color:white;
}
table tr, td {
  border:1px solid #AAAAAA;
  padding:.5em 1em;
}
/* FOOTER */
footer {
  text-align:center;
  font-size:1.3em;
}


/* TABLET */
@media only screen and (max-width:992px) {
  /* Global */
  .container {
    margin:5% 15%;
  }
  /* Footer */
  footer {
    padding:5% 15%;
  }
}

/* MOBILE */
@media only screen and (max-width:768px) {
  /* Global */
  .col p {
    text-align: left;
  }
  .container {
    margin:10% 5%;
  }
  .flex-container {
    flex-direction: column;
  }
  .flex-container img {
    width:100%;
  }
  /* NAV */
  header {
    display:none;
  }
  .mobileNav {
    display:block;
    overflow: hidden;
    position: relative;
    width:100%;
  }
  .mobileNav #myLinks {
    margin-top:4em;
  }
  .mobileNav a {
    margin-bottom: 2em;
    padding:.5em;
    display: block;
    text-align:center;
  }
  .mobileNav a.icon {
    display: block;
    position: absolute;
    right: 1em;
    top: 1em;
    font-size:1.5em;
  }
  .logo img {
    width:40vw;
  }

  /* Footer */
  footer {
    padding:10% 5%;
  }
}
